body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.pict11 {
  height: 100px;
  weight: 100px;;
}

.html {
  background: linear-gradient(white,grey,rgb(95, 89, 89),purple,red,grey,white,grey,grey,rgb(75, 69, 69),purple,red,grey,black);
}

header {
  background: linear-gradient(to right,aqua,blue,purple,red,rgb(101, 21, 21));
  color: #fff;
  text-align: center;
  padding: 1em;
}

.foll {
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
}

.p1 {
text-align: center;
font-size: x-large;
color: white;
}

.p2 {
  text-align: center;
  font-size: larger;
  color: white;
}

.p3 {
  text-align: center;
  font-size: medium;
  color: white;
}

.linkig0 {
  color: white;
  font-size: smaller ;
}

.linkig {
  color: rgb(0, 149, 255);
  font-size: smaller;
}

.link01 {
  margin-bottom: 80px;
}

.keranjang {
  color: white;
}

.product {
  width: 300px;
  margin: 1em;
  text-align: center;
  border: 1px solid #ee00ff;
  padding: 1em;
  background: linear-gradient(grey,grey,black);
}

button {
  background:linear-gradient(to right,rgb(3, 91, 3),rgb(11, 173, 11));
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  background: linear-gradient(to right,grey,rgb(74, 72, 72),black);
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main {
  margin-bottom: 50px;
}

.divfoot {
  margin-bottom: 100px;
  margin-left: 200px;
  margin-right: 200px;
}